.app {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

h1 { 
  width: 100%;
}

nav, div {
  border: 4px solid black;
  padding: 20px;
  margin-right: 10px;
}

.error {
  border: 4px solid red;
}

a {
  padding: 5px;
  font-weight: bold;
}